<!DOCTYPE html>
<html>
  <% include partials/header%>
  <body>
                <!---Logo-->
                <div id="logo"><img src="img/logo.png"></div>
                <%- include("partials/block",{id:'series'})%>
                <%- include("partials/block",{id:'Drama_or_Adventure_Movies'})%>
                <%- include("partials/block",{id:'comedy_Movies'})%>
                <%- include("partials/block",{id:'action_or_Thriller_Movies'})%>
                <%- include("partials/block",{id:'Family_Movies'})%>
                <%- include("partials/block",{id:'all_Movies'})%>
                <script type="text/javascript" src="js/embedded.js"></script>
                <script type="module" src="js/events.js"></script>
</body >
<% include partials/footer%>
</html>
